# NGspread configuration placeholder
#
# Replace this file with the actual NGspread/Spread configuration.
#
# It will be installed as:
#
#     /etc/ngspread/spread.conf
#
# Existing /etc/ngspread/spread.conf is not overwritten by Makefile.linux.
